<launch>
        <arg name="camera_calib" default="false"/>
        <group if="$(arg camera_calib)">
                <node pkg="calib_cam" type="calib.py" name="calib_node" output="screen"/>
        </group>
        <group unless="$(arg camera_calib)">
                <arg name="load_params" default="true" />
                <arg name="params_file" default="$(find image_convert)/launch/camera_param.yaml" />
                <include file="$(find mqtt_client)/launch/soccer.launch" /> 
                <node name="usb_camera_node" pkg="usb_cam" type="usb_cam_node" output="screen" >
                        <param name="video_device" value="/dev/video0" />
                        <param name="image_width" value="800" />
                        <param name="image_height" value="600" />
                        <param name="pixel_format" value="yuyv" />
                        <param name="autofocus" value="false"/>
                        <param name="focus" value="0"/>
                        <remap from="image" to="/camera/image_raw"/>
                </node>
                <node name="bb_detect" pkg="image_convert" type="bb_detect" output="screen" >
                        <remap from="image" to="/usb_camera_node/image_raw"/>
                        <rosparam command="load" file="$(arg params_file)" if="$(arg load_params)" />
                </node>
                
                <!-- <node pkg="mqtt_client_ros" type="error_feedback.py" name="error_publisher" output="screen"/>
                <node pkg="mqtt_client_ros" type="receiver.py" name="pos_receiver" output="screen"/> -->
        </group>
</launch>